* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: white;
}

.hero,
footer {
  background-color: #1f2937;
}

.hero,
section {
  height: 100vh;
  padding: 0 200px;
}

header {
  padding-top: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav .logo {
  font-size: 24px;
  color: #f9faf8;
}

.links {
  display: flex;
  gap: 30px;
}

.links li,
.left p,
.right p {
  font-size: 18px;
  color: #e5e7eb;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

.left,
.right {
  height: 230px;
}

.left {
  text-align: left;
  width: 450px;
}

.left h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  line-height: 1.3;
}

.left a {
  display: inline-block;
  padding: 10px 35px;
  border-radius: 7px;
  background-color: #3882f6;
  margin-top: 15px;
  font-weight: bold;
}

.right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6d747d;
}

.banner {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
}

.info {
  height: 80vh;
  padding-top: 80px;
}

.info h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.random-info {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.img {
  height: 200px;
  width: 200px;
  border: 3px solid #3882f6;
  border-radius: 15px;
}

.images-subtext p {
  color: #6d747d;
  max-width: 50%;
}

.quote {
  height: 50vh;
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote p {
  width: 70%;
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  text-align: left;
}

#person {
  text-align: right;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
}

.sign_up-section {
  height: 300px;
  display: flex;
  align-items: center;
  /* padding: 20px; */
}

.sign-up {
  width: 100%;
  height: 50%;
  background-color: #3882f6;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.para {
  text-align: left;
}

.para p {
  line-height: 30px;
}

.para #cta {
  font-size: 24px;
  font-weight: bold;
}

.sign-up a {
  font-weight: bold;
  border: 2px solid #f9faf8;
  border-radius: 5px;
  padding: 8px 30px;
}

footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
